# Archivos temporales de Python
__pycache__/
*.py[cod]

# Entornos virtuales
.venv/
venv/

# Configuración de editores
.vscode/
.idea/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Datos generados durante las pruebas
data/estudiantes.json
